@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Didact+Gothic&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap');

body {
    font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
    background-color: rgb(240,236,232);
    line-height: 1.5;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "ppl ppl"
    "geog geog"
    "govern govern"
    "end end";
    grid-gap: 30px;
    box-sizing: border-box;
    max-width: 950px;
    margin: auto;
}

#gov {
    grid-area: govern;
    background-color: rgba(91,82,76,0.3);
    padding: 20px 60px;
    margin: 0;
    border: 2px solid rgb(91,82,76);
    max-height: 500px;
    overflow: scroll;
}

#people {
    grid-area: ppl;
    background-color: rgba(91,82,76,0.3);
    padding: 20px 60px;
    margin: 30px 0 0 0;
    border: 2px solid rgb(91,82,76);
    max-height: 500px;
    overflow: scroll;
}

#intro {
    grid-area: introduction;
    background-color: rgba(91,82,76,0.3);
    padding: 20px 60px;
    margin: 0 0 0 20px;
    border: 2px solid rgb(91,82,76);
    max-height: 500px;
    overflow: scroll;
}

#geo {
    grid-area: geog;
    background-color: rgba(91,82,76,0.3);
    padding: 20px 60px;
    margin: 0;
    border: 2px solid rgb(91,82,76);
    max-height: 500px;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "woop woop"
    "one pic"
    "two two"
    "three three";
}

#heado {
    grid-area: woop;
}
#loc {
    grid-area: one;
}

#cli {
    grid-area: two;
}

#lake {
    grid-area:three;
}


h1 {
    grid-area: headline;
    font-family: "Delicious Handrawn", "Playfair Default", "Georgia", serif;
    font-size: 40px;
    color: rgb(41,41,41);
    background-color: rgba(91,82,76,0.3);
    padding: 10px 20px;
    border: 2px solid rgb(91,82,76);
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "headline headline"
    "navigation introduction";
    box-sizing: border-box;
    max-width: 950px;
    margin: auto;
}

h2 {
    color:rgb(41,41,41);
}

h3 {
    color: rgb(60,59,57)
}

#topnav {
    grid-area: navigation;
    background-color: rgba(91,82,76,0.3);
    border: 2px solid rgb(91,82,76);
    padding: 20px 10px;
    text-align: left;
}

footer {
    grid-area: end;
    background-color: rgba(91,82,76,0.3);
    border: thin solid rgb(91,82,76);
    margin: auto;
    max-width: 950px;
}

article {
    background-color: rgba(91,82,76,0.3);
    padding: 20px 30px 30px 30px;
    margin: 20px 0;
}

table {
    border: thin solid #222;
    margin: auto;
}

th,
td {
    border: thin solid #222;
    margin: auto;
    padding: 3px;
}

figure {
    margin: auto;
    padding: 10px;
}

figcaption {
    font-size: 12px;
}

a:link {
    color: #333;
}

a:visited {
    color: rgb(96, 74, 114);
}

a:hover {
    color: rgb(229, 218, 245);
}

a:active {
    color: rgb(140, 260, 280);
}

#mount {
    grid-area: pic;
    background-color: rgba(91,82,76,0.3);
    padding: 20px 30px;
    margin: 20px 0 20px 20px;
}